{% extends 'base.html.twig' %}

{% block title %}
  create trick
{% endblock %}

{% block body %}
  <main style="background-image: url('{{
    asset(
      'img/background.jpg'
    )
    }}');background-position: bottom center;
  ">
    <h2 class="text-center py-3 my-3 title fw-bold" style="color:#004f80">
      Creation de figure de snowboard
    </h2>
    <div class="container">
      <section id="createTrickForm" class="row d-flex justify-content-center">
       {% include 'trick/_add_form.html.twig' %}
      </section>
    </div>
  </main>
{% endblock %}
{% block js %}
  /
{% endblock %}
