<h1>SnowTricks: Veuillez confirmer votre email</h1>
<p>
    Merci de faire partie de la communauté. Veuillez cliquer sur le lien ci-dessous pour activer votre compte.<br><br>
    <a href="{{ signedUrl }}">Confirmez mon e-mail</a>.
    Le lien sera expiré dans 1 heure.
</p>

<p>
   Merci et bonne journée!
</p>
<br>
<p>SnowTricks</p>
      <img class="mb-4 "
    src="http://localhost:8000/img/icon.png"
    alt="icon"
    width="57"
    height="57" />


