<h1>snowTricks: Veuillez confirmer votre email</h1>
<p>
    Merci de faire partie de la communauté. Veuillez cliquer sur le lien ci-dessous pour activer votre compte.<br><br>
    <a href="{{ signedUrl }}">Confirmez mon e-mail</a>.
    Le lien sera expiré dans 1 heure.
</p>

<p>
   Merci et bonne journée!
</p>

