{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<!--reset password form-->
    <main  class="text-center " style="height:100%; background-image: url('{{asset('img/background.jpg')}});background-position: bottom center;
    ">
  <section id="login" class="form-signin p-4 d-flex row justify-content-center bgcolor">
      <form class="col-md-4">
        <img class="mb-4" src="{{asset('img/icon.png')}}" alt="icon" width="57" height="57">
        <h1 class="h3 mb-3 fw-bold title">Réinitialisez votre mot de passe</h1>
        <p>Veuillez saisir votre nom d'utilisateur ci-dessous. Nous vous enverrons les instructions par email pour créer un nouveau mot de passe.</p>
    
        <div class="form-floating">
          <input type="text" class="form-control mb-3" id="floatingInput" placeholder="Nom d'utilisateur" required>
          <label for="floatingInput">Nom d'utilisateur *</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Continuer</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
      </form>    
  </section>
  </main>
  {% endblock %}
