<h1>SnowTricks:Demande de réinitialisation de votre mot de passe.</h1>

<p>Pour réinitialiser votre mot de passe, veuillez consulter le lien suivant.</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans 1 heure.</p>

<p>   Merci et bonne journée!</p>
<p>SnowTricks</p>
      <img class="mb-4 "
    src="http://localhost:8000/img/icon.png"
    alt="icon"
    width="57"
    height="57" />
